In [3]:
from sklearn.metrics import mean_squared_error
from math import sqrt
import pandas as pd
import numpy as np
s = pd.read_csv('submission.csv')
s.tail()

        Id         Sales  Sales.1
1110  1111   5626.040039     5723
1111  1112  10527.014648     9626
1112  1113   7872.313965     7289
1113  1114  26264.363281    27508
1114  1115   9056.826172     8680

In [4]:
rms = sqrt(mean_squared_error(s['Sales'], s['Sales.1']))
# rms = sqrt(rms)
# rms = rms/s["Sales"]
# rms.mean()
def rmspe(y, y_hat):
    return np.sqrt(np.mean(((y - y_hat) / y) ** 2))
print rmspe(s['Sales'], s['Sales.1'])

0.0670678565549

In [34]:
1153.24494778

1153.24494778

In [35]:
1383.78592585

1383.78592585